In [2]:
from faker import Faker
import random
import pandas as pd
import unidecode
from randimage import get_random_image, show_array

fake = Faker("es_ES")
Faker.seed(123)
random.seed(123) 
fixed_digits = 6

idcode, name, age, sex, tel, email = [[] for k in range(0,6)] 

for row in range(0,10000):
    # Definir sexo dentro del bucle
    sexo = random.choice(["Mujer", "Hombre"])
    
    #si es aleatoriamente mujer:
    if sexo=="Mujer":
        nombre = str(fake.first_name_female()) + ' ' + str(fake.last_name())
        name.append(nombre)
        sex.append("Mujer")
        idcode.append(fake.unique.random_int(min=111111, max=999999))
        age.append(random.randint(17,85))
        tel.append(fake.phone_number().replace(" ", ""))
        email.append(str(unidecode.unidecode(nombre).lower().replace(" ", "")) + "@" + str(fake.free_email_domain()))
        
    #si es aleatoriamente hombre:
    else:
        nombre = str(fake.first_name_male()) + ' ' + str(fake.last_name())
        name.append(nombre)
        sex.append("Hombre")
        idcode.append(str(fake.unique.random_int(min=111111, max=999999)))
        age.append(random.randint(17,85))
        tel.append(fake.phone_number().replace(" ", ""))
        email.append(str(unidecode.unidecode(nombre).lower().replace(" ", "")) + "@" + str(fake.free_email_domain()))
    
d = {"ID":idcode, "Nombre":name, "Edad":age, "Sexo": sex, "Telefono":tel, "Email": email} 
df = pd.DataFrame(d)
df.head()

,ID,Nombre,Edad,Sexo,Telefono,Email
0,202532,Amaya Leal,51,Mujer,+34946410688,amayaleal@yahoo.com
1,278529,Evita Azorin,69,Mujer,+34843585320,evitaazorin@yahoo.com
2,737739,Roldán Bonilla,30,Hombre,+34941105710,roldanbonilla@gmail.com
3,243493,Natividad Cisneros,65,Mujer,+34724697470,natividadcisneros@yahoo.com
4,951541,Francisco Javier Vélez,60,Hombre,+34978398950,franciscojaviervelez@yahoo.com

In [10]:
import numpy as np

# Lista de posibles hobbies y géneros de música
hobbies = ["practicar deporte", "leer", "ver películas", "tocar un instrumento musical", "viajar", "cocinar", "hacer senderismo", "pintar", "ir al cine", "salir a correr"]
generos_musicales = ["rock", "pop", "jazz", "electrónica", "hip-hop", "clásica", "rock-pop", "indie", "reggaeton"]
fumar = ["No me importa viajar con un fumador", "Prefiero no viajar con un fumador"]

municipios = ["Valencia, Spain", "Catarroja, Spain", "Torrent, Spain", "Alboraya, Spain", "Moncada, Spain", "Manises, Spain",
          "Tavernes Blanques, Spain", "Meliana, Spain", "Burjasot, Spain", "Paterna, Spain", "Mislata, Spain",
          "Alaquàs, Spain", "Xirivella, Spain", "Paiporta, Spain", "Alfafar, Spain", "Benetúser, Spain", "Sedaví, Spain",
          "Aldaya, Spain", "Quart de Poblet, Spain"]


# Función para generar descripciones
def generar_descripcion(nombre, edad):
    hobby = random.choice(hobbies)
    genero_musical = random.choice(generos_musicales)
    fum = random.choice(fumar)
    descripcion = f"¡Hola, soy {nombre.split()[0]}! Tengo {edad} años y me gusta {hobby}. Suelo escuchar música {genero_musical}."
    return descripcion

# Agregar descripciones a DataFrame
df['Descripcion'] = [generar_descripcion(nombre, edad) for nombre, edad in zip(df['Nombre'], df['Edad'])]
df['Fumar'] = [random.choice(fumar) for i in range(len(df))]


#Que el 30% de los usuarios tengan como municipio "Valencia, Spain"
df['Municipio'] = [random.choice(municipios) for i in range(len(df))]
num30 = int(len(df) * 0.3)
indices = random.sample(range(len(df)), num30)
for ind in indices:
    df.at[ind, 'Municipio'] = "Valencia, Spain"

df

,ID,Nombre,Edad,Sexo,Telefono,Email,Descripcion,Fumar,Municipio
0,202532,Amaya Leal,51,Mujer,+34946410688,amayaleal@yahoo.com,"¡Hola, soy Amaya! Tengo 51 años y me gusta pin...",Prefiero no viajar con un fumador,"Torrent, Spain"
1,278529,Evita Azorin,69,Mujer,+34843585320,evitaazorin@yahoo.com,"¡Hola, soy Evita! Tengo 69 años y me gusta coc...",No me importa viajar con un fumador,"Valencia, Spain"
2,737739,Roldán Bonilla,30,Hombre,+34941105710,roldanbonilla@gmail.com,"¡Hola, soy Roldán! Tengo 30 años y me gusta co...",No me importa viajar con un fumador,"Burjasot, Spain"
3,243493,Natividad Cisneros,65,Mujer,+34724697470,natividadcisneros@yahoo.com,"¡Hola, soy Natividad! Tengo 65 años y me gusta...",Prefiero no viajar con un fumador,"Quart de Poblet, Spain"
4,951541,Francisco Javier Vélez,60,Hombre,+34978398950,franciscojaviervelez@yahoo.com,"¡Hola, soy Francisco! Tengo 60 años y me gusta...",Prefiero no viajar con un fumador,"Valencia, Spain"
...,...,...,...,...,...,...,...,...,...
9995,489680,Jose Manuel Blasco,73,Hombre,+34984693266,josemanuelblasco@yahoo.com,"¡Hola, soy Jose! Tengo 73 años y me gusta sali...",Prefiero no viajar con un fumador,"Aldaya, Spain"
9996,350298,Odalis Puga,65,Mujer,+34941608068,odalispuga@gmail.com,"¡Hola, soy Odalis! Tengo 65 años y me gusta ha...",No me importa viajar con un fumador,"Alaquàs, Spain"
9997,453067,Sara Coll,18,Mujer,+34854015046,saracoll@hotmail.com,"¡Hola, soy Sara! Tengo 18 años y me gusta ver ...",Prefiero no viajar con un fumador,"Meliana, Spain"
9998,290256,Severino Mateu,30,Hombre,+34981211563,severinomateu@yahoo.com,"¡Hola, soy Severino! Tengo 30 años y me gusta ...",Prefiero no viajar con un fumador,"Valencia, Spain"
9999,151357,Luna Huertas,36,Mujer,+34972182747,lunahuertas@yahoo.com,"¡Hola, soy Luna! Tengo 36 años y me gusta sali...",No me importa viajar con un fumador,"Valencia, Spain"

In [11]:
df.to_csv("usuarios.csv",index_label=None)